<b>{{RouteParam}}</b>
<b>{{AllRouteParams | json
  }}</b>

<!--our own if-->
<!-- <button (click)="show=!show">{{ show ? 'hide':'show' }}</button>
show={{ show }}
<br>
<br>-->
<!-- <button (click)=display()>{{ show ? 'hide':'show' }}</button>
show={{ show }}
<br> -->

<!--Angular if-->

<!--<div *ngIf="show;else elseTemplate">if is executed</div>
<ng-template #elseTemplate>
    <b>Else template is executed</b>
</ng-template> -->

<input type="text" [(ngModel)]="person" />
<button (click)="AddPerson()">Add To List</button>
<ul *ngFor="let item of people;index as i">
    <li>{{i+1}}.{{ item }}</li>
</ul>



<!-- <input type="text" [(ngModel)]="person"/>


<ul [ngSwitch]="person">
    <li *ngSwitchCase="'Mohan'">Hello Mohan</li>
    <li *ngSwitchCase="'Rohan'">Hello Rohan</li>
    <li *ngSwitchCase="''">
    <ul *ngFor="let item of people;index as i">
    <li>{{i+1}}.{{ item }}</li>
</ul>
    </li>

    <li *ngSwitchDefault><button (click)=AddPerson()>Add to List</button></li>
</ul> -->

