<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
<div id="menu-nav">
        <div id="navigation-bar">
          <ul>
            <li><a routerLink="home"><i class="fa fa-home"></i><span>Home</span></a></li>
            <li><a routerLink="login"><i class="fa fa-handshake"></i><span>Login</span></a></li>
            <li><a href="#" (click)="Register()"><i class="fa fa-user"></i><span>Register</span></a></li>
            <li><a href="#"><i class="fa fa-book"></i><span>Contact</span></a></li>
            <li><a href="#"><i class="fa fa-rss"></i> <span>About Us</span></a></li>
          </ul>
        </div>
        
        </div>
         <app-with-events *ngIf="login==true"></app-with-events>
        <app-registration *ngIf="signup==true" ></app-registration> 

      </header> -->