<footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="well">
      
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Learning Hub</a>
                </li>
                <li>
                  <a href="#!">My profile</a>
                </li>
            
              </ul>
      
            </div>
        
            <div class="col-md-3 mb-md-0 mb-3">
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">People hub</a>
                </li>
                <li>
                  <a href="#!">iTQ</a>
                </li>
              </ul>
      
            </div>
          </div>
         
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            </div>
        </div>
       
      </footer>
  