<div class="topnav">
   
        <!-- <a class="active" (click)="Log()">Login</a>
        <a  (click)="sign()">Sign</a>
        <a (click)="for()">Ngfor</a>
        <a href="#about">About</a> -->
        <a routerLink="login" >Login</a>
        <a routerLink="Regis" >Sign</a>
        <a routerLink="for" >Ngfor</a>
        <a routerLink="about/deepa" >About</a>
        <!-- <a [routerLink]="{footerOutlet:['path']}" >About2</a> -->
        
        
      </div>
      <p>hello</p>
      
      <router-outlet></router-outlet>
      <!-- <router-outlet id="footerOutlet"></router-outlet> -->
      
      <!-- <app-with-events *ngIf="login"></app-with-events>
      <app-regis *ngIf="sig"></app-regis>
      <app-for *ngIf="fo"></app-for> -->





      
